<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/egypte-news">Egypte</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/usa-news">Usa</a>
    </li>
  </ul>