<div class="card-group">
    <div *ngFor="let news of egypteNews.slice(0, 5); let i = index" class="card">
      <img src={{news.urlToImage}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{news.title}}</h5>
        <p class="card-text">{{news.description}}</p>
      </div>
    </div>
    
  </div>